* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.tickets_block, .ticket {
    border: 1px solid black;
}

.tickets_block {
    max-width: 50%;
    margin: 0 auto;
}

.edit_ticket__btn, .del_ticket__btn {
    border-radius: 50%;
    width: 30px;   /* одинаковая ширина */
    height: 30px;
}

.tickets_container {
    display: flex;
    flex-direction: column;
}


/*СТИЛИ ТИКЕТА*/
.ticket {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ticket_main_info {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.ticket_description {
    padding: 10px 0;
}

/*СТИЛИ ФОРМ И МОДАЛОК*/

.add_form, .edit_form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-top: 5px;
}

input {
   margin: 10px 0; 
}

.modal {
    border: 1px solid black;

    position: absolute;
    top: 50%;         
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 

    min-width: 400px;
    padding: 15px;

    background-color: white;
}

.modal_btns {
    display: flex;
    justify-content: end;
}

/*ВУАЛЬ ДЛЯ МОДАЛОК*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/*КЛАССЫ ДЛЯ СТИЛИЗАЦИИ ЭЛЕМЕНТОВ*/

.hidden {
    display: none;
}

.crossed {
    text-decoration: line-through;
}
